body 
{
  background-color: black;
}


/* Classes */

.screen
{
  padding: 10px;
  width: 1020px;
  margin: auto;
}

.grid-container 
{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px 200px;
  background-image: url("../images/moonside.jpg");
}

.grid-item 
{
  background-color: rgba(100 , 100, 100, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-img 
{
  width: auto;
  height: 100%;
}

.hidden
{
  display: none;
}


/* IDs */

#heroß
{
  transform: scaleX(-1);
}

#start-screen
{
  background-color: antiquewhite;
}

#grid-screen
{

}

#death-screen
{

}

#end-screen
{

}
