:root {
  --gridSquareSize : 150px;
}

@font-face 
{
  font-family: pressStart;
  src: url(./Press_Start_2P/PressStart2P-Regular.ttf);
}

body 
{
  background-color: black;
  font-family: pressStart;
  text-transform: uppercase;
}

button
{
  font-family: pressStart;
  height: 50px;
  width: 30%;
  background-color: salmon;
  align-content: center;
  margin-top: 15%;
}


/* Classes */

.screen
{
  padding: 5%;
  width: 70%;
  margin: auto;
  font-size: small;
  font-size: larger;
  font-weight: lighter;
  text-align: center;
  background-color: rgb(250, 225, 192);
  border-radius: 25%;;
}

.grid-container 
{
  display: grid;
  grid-gap: 0%;
  grid-template-columns: var(--gridSquareSize) var(--gridSquareSize) var(--gridSquareSize) var(--gridSquareSize) var(--gridSquareSize);
  grid-template-rows: var(--gridSquareSize) var(--gridSquareSize) var(--gridSquareSize) var(--gridSquareSize) var(--gridSquareSize);
  background-image: url("../images/moonside.jpg");
  background-size: 100%;
  position: fixed;
  left: 50%;
  transform: 
    translate(-50%, 0%);
  justify-content: center;
  align-content: center;
}

.button
{
  font-family: pressStart;
}

.grid-item 
{
  background-color: rgba(100, 100, 100, 0);
  border: 1px solid rgba(228, 223, 223, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-img 
{
  width: 100%;
  height: auto;
}

.hidden
{
  display: none;
}

/* Stolen from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 0%;
}

/* Modal Content/Box */
.modal-content 
{
  position: fixed;
  transform:
    translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 77.7%;
}

.battle-button
{
  font-family: pressStart;
  height: 50px;
  width: 20%;
  background-color: salmon;
  align-content: center;
  margin-top: 15%;
}

/* IDs */

#heroß
{
  transform: scaleX(-1);
}

#start-screen
{
  padding: 10%;
  height: 50%;
  width: 40%;
  background-color: darkviolet;
}

#info-screen
{
  padding: 10%;
  height: 50%;
  width: 40%;
  background-color: darkviolet;
}

#grid-screen
{

}

#battle-screen
{
  z-index: 2;
  background-color: #00000040;
}

#battle-image
{
  margin-left: auto;
  display: block;
  
}

#death-screen
{
  padding: 10%;
  min-height: 40%;
  min-width: 50%;
  max-width:50%; 
  max-height:40%;
  background-color: darkviolet;
}

#end-screen
{
  padding: 10%;
  min-height: 40%;
  min-width: 50%;
  max-width:50%; 
  max-height:40%;
  background-color: darkviolet;
}

#pacifist-end-screen
{
  padding: 10%;
  min-height: 40%;
  min-width: 50%;
  max-width:50%; 
  max-height:40%;
  background-color: darkviolet;
}

#message-box-container {
  position:fixed;
  bottom:0%;
  background-color: darkviolet;
  padding: 10px;
  width: 77.7%;
  height: 20%;
  z-index: 3;
  transform: 
    translate(-50%, 0);
  left: 50%;
opacity: 80%;
}

#enemy-hp
{
  
}

#enemy-hp-container 
{
  color:white;
  justify-content: right;
  text-align: right;
  padding-right: 12%;
}

#player-hp
{
  justify-content: center;
  margin-top: 2%;
}

#player-hp-container
{
  text-align: center;
  margin: 1%;
  font-size: x-large;
  color: white;
}

#battle-button-container
{
  position: fixed;
  transform:
    translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 77.7%;
  text-align: center;
}
